html {
	background-color: #b9c783;
}
html, body {
	margin: 0;
}
.form-container {
	justify-content: center;
	display: flex;	
}
.screen {
	padding-left: 10px;
}
.form-wrapper {
	flex-direction: column;
	display: flex;
	width: 25%;
}
.chat-form {
	padding: 0 20px 0 20px;
	display: flex;
	flex-direction: column;
}
.top_line {

	display: flex;
	width: 100%;
	height: 10px;
}
.brick {
	display: inline-block;
	width: 10%;
	
}
.user-input {
	padding-left: 10px;
	font-weight: bold;
	background-color: #fffecd;
	border-style: none;
	font-family: "Montserrat", sans-serif;
	height: 30px;
	margin-bottom: 30px;

}
label {
	opacity: 0.6;
	font-weight: bold;
	margin-bottom: 7px;
	font-family: "Montserrat", sans-serif;
}
#submit-messege {
	width: 20%;
	margin-top: 19px;
	font-family: "Montserrat", sans-serif;
	color: #fffecd;
	background-color: #635960;
	border-style: none;
	height: 32px;
	margin-bottom: 30px;
}
#submit {
	font-family: "Montserrat", sans-serif;
	color: #fffecd;
	background-color: #635960;
	border-style: none;
	height: 32px;
	margin-top: 19px;
}
.chat-name {
	font-weight: 100;
	color:  #fffecd;
	font-size: 4.4em;
	text-align: center;
	font-family: "Pacifico", sans-serif;
	margin-top: 20px;
	margin-bottom: 40px;
}
label, input {
	display: block;
}
.user-control {
	display: flex;
	flex-direction: row;
}
.chat-wrapper {
	width: 50%;
}
.screen {
	font-family: "Montserrat", sans-serif;
	overflow-y:scroll;
	background-color: #fffecd;
	height: 270px;
}
strong {
	font-size: 1.1em;
}
#user-messege {
	margin-right: 5%;
	width: 75%;
	margin-top: 19px;
}
.error {
	color: red;
}
img {
	width: 15px;
}
#submit:after {
	width: 100px;
	height: 50px;
	margin-bottom: 25px;
	background-color: red;
	content: "WORK";
	border: 1px solid blue;
}